:root {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #1d2d44;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  color: white;
  margin: 20px auto;
  width: 192px;
}

h2 {
  font-size: 16px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}

@media (width >= 640px) {
  h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}

button {
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.25s;
}
